asgiref==3.5.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.10.0
black==22.1.0
click==8.0.4
colorama==0.4.4
Django==4.0.2
django-bootstrap-v5==1.0.11
mypy-extensions==0.4.3
pathspec==0.9.0
platformdirs==2.5.1
psycopg2-binary==2.9.3
soupsieve==2.3.1
sqlparse==0.4.2
tomli==2.0.1
typing-extensions==4.1.1
tzdata==2021.5
asgiref==3.5.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.10.0
black==22.1.0
click==8.0.4
colorama==0.4.4
Django==4.0.2
django-bootstrap-v5==1.0.11
django-environ-plus==0.8.1.1
mypy-extensions==0.4.3
pathspec==0.9.0
platformdirs==2.5.1
psycopg2-binary==2.9.3
soupsieve==2.3.1
sqlparse==0.4.2
tomli==2.0.1
typing-extensions==4.1.1
tzdata==2021.5
