<html>

<head>
    <title>Книга рецептов</title>
</head>

<body>
    <a href="">
        <h1>Книга рецептов</h1>
    </a>
    <br>
    <form action="" method="post">
        {% csrf_token %}
        Какой рецепт Вы ищете? <input type="text" name="lookup_recipe">
        <input type="submit" value="Submit">
    </form>

    {% for recipe in recipes %}
    <br>
    <h2>{{ recipe.name }}</h2>
    <br>
    {{ recipe.ingredients.all|join:", " }}
    <br>
    {{recipe.recipe}}
    {% endfor %}
</body>

</html>