<html>

<head>
    <title>Книга рецептов</title>
</head>

<body>
    <p align="right"><a href="/admin">Добавить/изменить рецепт</a></p>

    <a href="">
        <h1>Книга рецептов</h1>
    </a>
    <br>
    <form action="" method="post">
        {% csrf_token %}
        Какой рецепт Вы ищете? <input type="text" name="lookup_recipe">

        {% csrf_token %}
        <label for="lookup_ingredient">Ищете блюдо с определённым ингридиентом?</label>

        <select name="lookup_ingredient" id="lookup_ingredient">
            <option disabled selected value></option>
            {% for ingredient in ingredients %}
            <option value="{{ingredient.id}}">{{ingredient.name}}</option>
            {% endfor %}
        </select>
        <input type="submit" name="Submit">
    </form>

    {% for recipe in recipes %}
    <br>
    <h2>{{ recipe.name }}</h2>
    <br>
    {{ recipe.ingredients.all|join:", " }}
    <br>
    {{recipe.recipe}}
    {% endfor %}
</body>

</html>