{% load bootstrap5 %}
{% bootstrap_css %}

<html>

<head>
    <title>Книга рецептов</title>
</head>

<body>
    <div class="container">
        <p align="right"><a href="/admin">Добавить/изменить рецепт</a></p>

        <div class="page-header">

            <a href="" class="text-decoration-none">
                <h1>Книга рецептов</h1>
            </a>
        </div>
        <form action="" method="post">
            {% csrf_token %}
            <div class="row mb-2">
                <label for="lookup_recipe" class="col-sm-4 col-form-label">Какой рецепт Вы ищете?</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="lookup_recipe" name="lookup_recipe">
                </div>
            </div>
            <div class="row mb-2">
                <label for="lookup_ingredient" class="col-sm-4 col-form-label">Ищете блюдо с определённым
                    ингредиентом?</label>
                <div class="col-sm-3">
                    <select class="form-select" name="lookup_ingredient" id="lookup_ingredient">
                        <option disabled selected value></option>
                        {% for ingredient in ingredients %}
                        <option value="{{ingredient.id}}">{{ingredient.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Искать</button>
        </form>

        {% for recipe in recipes %}

        <div class="card border-primary mb-3" style="max-width: 80rem;">
            <br>
            <div class="card-header">
            </div>
            <div class="card-body text-dark">
                <h3 class="card-title">{{ recipe.name }}</h5>
                    <ul class="list-group list-group-horizontal">
                        {% for i in recipe.ingredients.all %}
                        <li class="list-group-item">{{ i }}</li>
                        {% endfor %}
                    </ul>
                    <p class="card-text">{{recipe.recipe}}</p>
            </div>
        </div>
        <br>
        {% endfor %}
    </div>
</body>

</html>